* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    height: 100%;
    background-color: #f7eded;
}

header{
    display: flex;
    background-color: rgb(255, 217, 0);
    width: auto;
    height: 180px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main{
    height: 100%;
}

.logo{
    position: relative;
    padding: 10px;
    margin: 5px;
}

.menu{
    display: flex;
    gap: 20px;
}

#navbar{
    display: flex;
    gap: 20px; 
}

.menu-text{
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding: 15px;
}

.menu-text:hover{
    background-color: white;
    color: rgb(255, 217, 0);
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

.area-principal{
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 920px;
    margin: 20px auto 70px auto;
    gap: 20px;
}

.area-postagens{
    display: flex;
    flex-direction: column;
    width: 660px;
    height: 100%;
    float: left;
    gap: 20px;
}

.postagem{
    padding: 20px;
    background-color: white;
}

.area-lateral{
    display: flex;
    gap: 20px;
    flex-direction: column;
    float: right;
    width: 240px;
}

.mini-postagens{
    gap: 5px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    max-width: 220px;
    height: auto;
    background-color: white;
}

.barLateral_categoarias_text{
    color: rgb(255, 217, 0);
    font-size: 20px;
    font-weight: bold;
}

footer{
    display: flex;
    background-color:rgb(255, 217, 0);
    color: white;
    height: 60px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    position: fixed;
    bottom: 0;
    gap: 2px;
}

@media (max-width: 680px) {

    #navbar{
        display: none;
        position: absolute;
        top: 23vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background-color: rgb(255, 217, 0);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .mobile-menu{
        display: block;
    }
}
